.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 293px;
  height: max-content;
  max-width: 300px;
  margin: auto;
  text-align: center;
  display: block;
  /* font-family: arial; */
}
.signOut {
  text-align: right;
}
.signOut img{
    width: 20px;
    text-align: right;
    padding: 10px;
}
.card img:nth-child(even){
    width: 200px;
}
.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}